@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700|Eczar:400,700");

html {
  background: url(./img/bg.png) center center repeat fixed;
}

html::-webkit-scrollbar {
  width: 2px;
}

html::-webkit-scrollbar-track {
  background-color: #0c0c0c;
}

html::-webkit-scrollbar-thumb {
  background: #BF9B6F;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  color: #ffff;
  /* font: normal 14px/17px "Alegreya Sans", sans-serif; */
  font: normal 16px/20px Alegreya Sans,sans-serif;
}
.h2Chart{
    color: #bf9b6f;
    font: 700 calc(30px + 7.5vw) Eczar,serif;
    font-size: 25px;
    text-align: left;
}
/* h1{
  background: linear-gradient(#bf9b6f,#bf9b6f);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 15% 15px;
    color: #bf9b6f;
    font: 700 calc(30px + 7.5vw) Eczar,serif;
    font-size: 60px;
    line-height: 1.1;
    padding-bottom: 30px;
    text-align: left;
    width: 440px;
} */
.charts{
  height: 500px;
  width: 80%;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 35% 40%;
  column-gap: 5%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items:center;
  grid-template-areas: 
  "category pro"
  "company pro";
}
.categoryChartCont{
  grid-area: category;
  width: 100%;
  height: 90%;
}
.companyChartCont{
  grid-area: company;
  width: 100%;
  height: 90%;
}
.productsChartCont{
  grid-area: pro;
  width: 100%;
  height: 95%;
}
.nav {
  height: 100px;
  width: 100vh;
  position: fixed;
  left: 0px;
  transform: rotate(-90deg) translate(-45%, -43vh);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.has {
  width: 60%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.has li .a {
  padding-bottom: 10px;
  opacity: 0.5;
  transition: 0.5s ease;
  width: auto;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  cursor: pointer;
  text-decoration: none;
}

.has li .a:hover {
  opacity: 1;
  background-size: 50% 2px;
}
.tig {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #ffff;
  padding-right: 30px;
}

.socialMedia {
  width: 25px;
  transform: rotate(90deg);
  opacity: 0.5;
  transition: opacity 0.5s;
  display: flex;
  cursor: pointer;
}

.socialMedia:hover {
  opacity: 1;
}

ul {
  list-style: none;
}

.lds-dual-ring {
  z-index: 100;
  display: inline-block;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  right: 0;
  top: 0;
  position: fixed;
  width: 90vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: 100;
}
.productContainer {
  position: absolute;
  left: 10vw;
  width: 90vw;
  height: 95vh;
  top: 2.5vh;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}

.productContainer::-webkit-scrollbar {
  width: 2px;
}

.productContainer::-webkit-scrollbar-thumb {
  background: #BF9B6F;
  border-radius: 5px;
}

.imgCard {
  position: relative;
  height: 80%;
  min-width: 100%;
  transition: 1s;
  opacity: 0.9;
  filter: blur(2px);
}

.card:hover .imgCard {
  opacity: 0.5;
}

.card {
  display: flex;
  width: 300px;
  height: 360px;
  border-radius: 20px;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
  background-color: #0c0c0c;
  box-shadow: rgba(105, 105, 105, 0.2) 0px 8px 24px;
  margin: 10px 50px;
  margin-bottom: 25px;
  transition: 0.5s;
}

.card:hover {
  box-shadow: rgb(95, 79, 57) 0px 8px 24px;
}

.titleCard {
  width: fit-content;
  font: bold calc(60px + 90 * ((100vw - 400px) / 1200)) "Eczar", serif;
  font-size: 14px;
  background: linear-gradient(#BF9B6F, #BF9B6F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: ease;
  transition: 1s;
  padding-bottom: 4px;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: left;
}

.card:hover .titleCard {
  opacity: 1;
  background-size: 30% 2px;
}

.textCard {
  padding: 10px;

}

.informationCard {
  text-align: left;
  font: normal 16px/30px "Alegreya Sans", sans-serif;
  transition: 1s;
  opacity: 0.5;
  font-size: 15px;
  letter-spacing: 2px;
}

.card:hover .informationCard {
  opacity: 0;
  display: hide;
}

.hoverCard {
  opacity: 0;
  position: absolute;
  transition: 0.5s;
  z-index: 10;
  width: 260px;
  height: 310px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.card:hover .hoverCard {
  opacity: 1;
  transition: 1s;
}

.more img{
  width: 70px;
}

.itemDatail {
  position: absolute;
  right: 5vw;
  width: 85vw;
  top: 5vh;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  align-items: center;
}

.details {
  width: 50%;
}

.btnImg {
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  margin: 4px;
}

.btnImg:hover {
  border: #b69165 1px solid;
  width: 75px;
  height: 75px;
  cursor: pointer;
  position: relative;
  box-shadow: rgb(95 79 57) 0px 8px 24px;
}

.innerBtn {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img {
  display: flex;
  width: 30%;
  flex-direction: column;
  height: 100%;

}

.mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.minImgCon {
  overflow: hidden;
  height: 430px;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(105, 105, 105, 0.644) 0px 8px 24px;
}

.miniImg {
  left: -1%;
  position: relative;
  height: 80px;
  margin-top: 20px;
  display: flex;
  width: 102%;
  justify-content: space-between;
  align-items: center;
}

.pDetail {
  margin-top: 10px;
  margin-bottom: 25px;
  text-align: left;
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 15px;
  line-height: 30px;

}

.h1 {
  letter-spacing: 5px;
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  margin-top: 30px;
  font-size: 20px
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

.aditionalInfo {
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 15px;
  margin-bottom: 10px;
  opacity: 0.7;
  text-align: left;
}

.priceInfo {
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 900;
  color: #BF9B6F;
  padding-bottom: 25px;
}

.textInput{
  width: 100%;
  background: none;
  border: #b69165 1px solid;
  border-radius: 10px;
  height: 150px;
  padding: 10px;
  letter-spacing: 1px;
}
.ittleEspe{
  margin-top: 0px;
  color: #BF9B6F;
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: 900;
}
.inputNormal{
  width: 100px;
  background: none;
  border: #b69165 1px solid;
  border-radius: 10px;
  padding: 5px 10px;
}

.companysContainer {
  width: auto;
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 3px;
  background-color: #0c0c0c;
  border-radius: 10px;
  border: 1px solid #BF9B6F;
  padding: 5px 10px 5px 10px;
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  padding: 5px 12px;
  background: none;
  border: 1px solid #BF9B6F;
}

.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}
.file-input{
  margin-top: 20px;
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
}
.sumButtom{
  background: none;
  background-color: #b69165;
  letter-spacing: 3px;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  transition: 0.3s;
  margin-right: 20px;
}
.sumButtom:hover{
  background-color: #8b7253;
  cursor: pointer;
}
.cardSpecial{
  background: none;
  border: #BF9B6F solid 1px;

}
.sumButtom:disabled{
  background-color: #b692656b;
  cursor:auto;
}
.del{
  background-color: #ff4343;
}
.del:hover{
  background-color: rgba(253, 30, 30, 0.753);
}
.brand{
  font: normal 14px/17px "Alegreya Sans", sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: capitalize;
  background: none;
  margin-top: 5px;
}
.categorySpacion{
  width: 100%;
  color: #bf9b6f;
  font: 700 calc(30px + 7.5vw) Eczar,serif;
  font-size: 35px;
  text-align: left;
}